<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JK_MVVM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>336C52BC1C3FFE4100B82743</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>336C52D51C3FFE4200B82743</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>336C52E01C3FFE4200B82743</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
